PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://neondb_owner:npg_svWyfz9qrQN6@ep-noisy-mountain-atq1ey08.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET=fc76fcd13d0970eb4026a316da738910ff0c108b2dca4150aa0ad8f4e5d18d79ca6293d11ac85bd3f7f0a5e8242ce64eb5c71a281c438dc80d7f1d8e718d3736
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=12
CORS_ORIGIN=http://localhost:5173
ADMIN_EMAIL=12hibr13@gmail.com
ADMIN_PASSWORD=admin123456
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
